/* Reset de margens e preenchimentos */
html,
body {
    height: 100%;
    margin: 0;
}

/* Estilo para o banner */
.banner {
    position: relative;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.banner #img {
    width: 100%;
    display: block;
    filter: brightness(70%);
}

/* Estilo para o título no meio do banner */
.middle-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    width: 100%;
    /* Ensure the title doesn't go beyond the width of the banner */
}

.middle-title h1 {
    font-size: 4em;
    color: white;
}

/* Estilo para o botão */
.button-container {
    position: absolute;
    bottom: 5%;
    /* Adjusted to 5% from 10% for a bit more space at the bottom */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.custom-button {
    display: inline-block;
}

.custom-button img {
    width: 60px;
    height: auto;
}


/* Estilo para o título em h2 abaixo do banner */
.bottom-title {
    text-align: center;
    padding-top: 120px;
    height: 600px;
    /* Espaçamento superior entre o banner e o título */
}

.bottom-title h2 {
    color: black;
    padding-bottom: 50px;
    /* Cor do texto preto */
    /* Outros estilos conforme necessário */
}

.card {
    height: 300px;
    border-radius: 5px;
    border-color: #FF8606;
}



/* Estilos personalizados para as imagens dos cards */
.card-img-top {
    width: 100px;
    height: 100px;
    margin-top: 10%;
    margin-bottom: 20%;
    object-fit: fill;
}

/* Estilo para remover o fundo dos botões */
.carousel-control-prev,
.carousel-control-next {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: none;
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    background-color: none;
    background-repeat: no-repeat;
}



/*modalidades informação*/
.modalidades {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Para alinhar verticalmente */
    text-align: center;
    /* Para alinhar o texto centralmente */
    background-color: rgb(34, 34, 34);
    width: 100%;
}

.modalidade {
    width: 80%;

}


.modalidade .image {
    width: 30%;
    height: auto;
}

.modalidade .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modalidade .image,
.modalidade .text {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.modalidade .content-1,
.modalidade .content-2 {
    display: flex;
    align-items: center;
}

.modalidade .text {
    text-align: left;
    color: white;
    width: 70%;

}

.modalidade .content-1 .image,
.modalidade .content-2 .text {
    order: 1;
}

.modalidade .content-2 .image,
.modalidade .content-1 .text {
    order: 2;
}

.modalidade .text p {
    padding-top: 30px;
    padding-bottom: 40px;
}

.modalidade button {
    padding: 10px 20px;
    background-color: #FF8606;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.modalidade button:hover {
    background-color: #e67905;
}

.modalidade a {
    color: inherit;
    /* This inherits the color from the parent (button) */
    text-decoration: none;
    /* Removes the underline from the link */
}

.modalidade a:hover {
    color: inherit;
    /* You can customize the color on hover if needed */
    text-decoration: none;
    /* Removes the underline from the link */
}
