/* Reset de margens e preenchimentos */
html, body {
    height: 100%;
    margin: 0;
}

/* Estilo para o banner */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.banner img.darken {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(70%);
}

/* Estilo para o título no meio da imagem */
.middle-title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

.middle-title h1 {
    font-size: 4em;
    color: white;
}

/* Estilo para o botão */
.button-container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.custom-button {
    display: inline-block;
}

.custom-button img {
    width: 60px;
    height: auto;
}


/* Estilo para o título em h2 abaixo do banner */
.bottom-title {
    text-align: center;
    padding-top: 120px;
    height: 600px;
    /* Espaçamento superior entre o banner e o título */
}

.bottom-title h2 {
    color: black;
    padding-bottom: 50px;
    /* Cor do texto preto */
    /* Outros estilos conforme necessário */
}
.card{
    height: 300px;
    border-radius: 5px;
    border-color: #FF8606;
}



/* Estilos personalizados para as imagens dos cards */
.card-img-top {
    width: 100px;
    height: 100px;
    margin-top: 10%;
    margin-bottom: 20%;
    object-fit: cover; /* Manter a proporção da imagem */
}

/* Estilo para remover o fundo dos botões */
.carousel-control-prev,
.carousel-control-next {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 5%;
    background: rgb(255, 255, 255); /* Altere o fundo das setas se necessário */
    /* Adicione mais estilos conforme necessário */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px; /* Largura das setas */
    height: 20px; /* Altura das setas */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.modalidade {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Para alinhar verticalmente */
    text-align: center; /* Para alinhar o texto centralmente */
    background-color: rgb(34, 34, 34);
}

.modalidade .image {
    margin-right: 20px;
    margin-left: 20px;
}

.modalidade .image img {
    width: 400px;
    height: auto;
}

.modalidade .content-1,  .modalidade .content-2{
    display: flex;
    align-items: center
}

.modalidade .text{
    text-align: left; /* Para alinhar o texto esquerda */
    color: white;
    margin-top: -30px;

}

.modalidade .content-1 .image, .modalidade .content-2 .text{
    order: 1;
}

.modalidade .content-2 .image, .modalidade .content-1 .text{
    order: 2;
}

.modalidade .text p{
    padding-top: 30px;
    padding-bottom: 90px;
}

.modalidade button {
    padding: 10px 20px;
    background-color: #FF8606;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.modalidade button:hover {
    background-color: #e67905;
}
