*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: auto;
    width: auto;
}



.btitulo{
    font-weight: bold;
    color: red;
    font-size: 60pt;
}

.bimg{
    height: 700px;
}